@charset "gb2312";
/*背景*/
.bobg
{
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;

}
/* 文本框 */
.inputdi
{
	display: inline-block;
	border-color: rgba(82, 168, 236, 0.8);
	border-radius: 0px;
	margin-bottom: 10px;
	vertical-align: middle;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	width:280px;
	height: 20px;
	padding:4px 4px 4px 35px;
	font-size: 14px;
	line-height: 20px;
	color: rgb(85, 85, 85);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.inputdi:focus
{
	border-color: rgba(82, 168, 236, 0.8);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(82, 168, 236);
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.inputid_blu
{
	border: 1px solid rgb(204, 204, 204);
	
}
.inputid_blu:focus
{
	border-color: rgba(82, 168, 236, 0.8);
	border: 1px solid rgb(82, 168, 236);
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.inputid_red
{
	border: 1px solid rgb(204, 204, 204);
	
}
.inputid_red:focus
{
	border-color: rgba(218, 79, 73, 0.8);
	border: 1px solid rgb(218, 79, 73);
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset, rgba(218, 79, 73, 0.6) 0px 0px 8px 0px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.inputid_gre
{
	border: 1px solid rgb(204, 204, 204);
	
}
.inputid_gre:focus
{
	border-color: rgba(91, 183,91, 0.8);
	border: 1px solid rgb(91, 183, 91);
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset, rgba(91, 183, 91, 0.6) 0px 0px 8px 0px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.inputid_org
{
	border: 1px solid rgb(204, 204, 204);
	
}
.inputid_org:focus
{
	border-color: rgba(250, 167, 50, 0.8);
	border: 1px solid rgb(250, 167, 50);
	box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset, rgba(250, 167, 50, 0.6) 0px 0px 8px 0px;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}



/*按钮*/

.butt {
	width:150px;
	height:34px;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    vertical-align: middle;
    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;

    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.butt_info:hover, .butt_info:focus, .butt_info:active,.butt_info.active, .butt_info.disabled, .butt_info[disabled] {
    color: rgb(255, 255, 255);
   
}

.butt_info {
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-value: rgba(0, 0, 0, 0.1);
	border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;

}
.butcolor_blu
{
	background-color: rgb(73, 175, 205);
    background-image: linear-gradient(to bottom, rgb(91, 192, 222), rgb(47, 150, 180));
    background-repeat: repeat-x;
}
.butcolor_blu:hover,.butcolor_blu:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
	background-color: rgb(47, 150, 180);
}
.butcolor_org
{
	background-color: rgb(250, 167, 50);
    background-image: linear-gradient(to bottom,  rgb(250, 206,74),rgb(237,156,30));
    background-repeat: repeat-x;
}
.butcolor_org:hover,.butcolor_org:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
	background-color: rgb(237,156,30);
}
.butcolor_red
{
	background-color: rgb(218, 79, 73);
    background-image: linear-gradient(to bottom,  rgb(242, 96,94),rgb(200,61,49));
    background-repeat: repeat-x;
}
.butcolor_red:hover,.butcolor_red:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
	background-color: rgb(200,61,49);
}
.butcolor_gre
{
	background-color: rgb(91, 183,91);
    background-image: linear-gradient(to bottom,  rgb(110, 206,111),rgb(71,156,70));
    background-repeat: repeat-x;
}
.butcolor_gre:hover,.butcolor_gre:focus {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
	background-color: rgb(71,156,70);
}
/*字体*/
.font_info
{
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
}
.font_shod_org
{
	color:#F30;
	text-shadow:2px 2px 2px rgb(250, 167, 50);
	text-outline: 1px 1px rgb(250, 167, 50);
	margin-bottom:25px;
}
/*单选框*/
.chbox
{
    position: relative;
    margin-right: 5px;
	margin-bottom:0px;
    width: 19px;
    height: 19px;
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
	outline-color:rgb(102,102,102);
	cursor:pointer;
    background: none repeat scroll 0% 0% transparent;
	
}

.chbox:hover
{

}